## Main Trading Bot Logic

TODO
- Allow training on CUDA/GPU 
- Add tensorboard logging support

The first algorithm we will test out is DQN. This is the de facto standard for single agent RL algorithms at this point. 

<img src="DQN.png" alt="drawing" width="700"/>

Before we actually start working on the core algorithm we are going to use for the trading bot, we should probably make sure we can pull the appropriate data and clean it if necessary. Perhaps the most obvious place to start is [Yahoo! Finance](https://finance.yahoo.com/).

We will set this up so we can run our algorithm with some input parameters like the ticker code for a stock/crypto and automate the cleaning and training process.

In [25]:
import pandas as pd
import yfinance as yf
from datetime import date

In [37]:
# TODO Allow use to specify start/end dats. Currently working with 2021 current data.

# auto_adjust=True -> removing Adjust Close column
# actions =”inline” -> dowload dividend and splits of stock
# ['FB','AAPL',...] -> download data for multiple stocks

today = date.today().strftime("%Y-%m-%d")
df_yahoo = yf.download(['FB'], start='2021-01-01', end=today, progress=False, auto_adjust=True)

In [38]:
df_yahoo

                  Open        High         Low       Close    Volume
Date
2020-12-31  272.000000  277.089996  269.809998  273.160004  12900400
2021-01-04  274.779999  275.000000  265.200012  268.940002  15106100
2021-01-05  268.290009  272.399994  268.209991  270.970001   9871600
2021-01-06  262.000000  267.750000  260.010010  263.309998  24354100
2021-01-07  265.899994  271.609985  264.779999  268.739990  15789800
...                ...         ...         ...         ...       ...
2021-04-26  303.339996  305.799988  301.559998  303.040009  16172600
2021-04-27  304.279999  305.339996  301.109985  303.570007  15309300
2021-04-28  307.359985  310.920013  305.369995  307.100006  33907200
2021-04-29  330.119995  331.809998  321.609985  329.510010  56526800
2021-04-30  326.140015  329.820007  324.500000  325.079987  26322000

[83 rows x 5 columns]